---
name: Deploy
on:
  push:
    branches:
      - 'master'

jobs:
  Deploy:
    name: "Uploads package to Pypi server"
    runs-on: ubuntu-18.04

    env:
      PYPISERVER_URL: ${{ secrets.PYPISERVER_URL }}

      TARGET_SNOWFLAKE_ACCOUNT: ${{ secrets.TARGET_SNOWFLAKE_ACCOUNT }}
      TARGET_SNOWFLAKE_DBNAME: ${{ secrets.TARGET_SNOWFLAKE_DBNAME }}
      TARGET_SNOWFLAKE_USER: ${{ secrets.TARGET_SNOWFLAKE_USER }}
      TARGET_SNOWFLAKE_PASSWORD: ${{ secrets.TARGET_SNOWFLAKE_PASSWORD }}
      TARGET_SNOWFLAKE_WAREHOUSE: ${{ secrets.TARGET_SNOWFLAKE_WAREHOUSE }}
      TARGET_SNOWFLAKE_SCHEMA: ${{ secrets.TARGET_SNOWFLAKE_SCHEMA }}
      TARGET_SNOWFLAKE_FILE_FORMAT: ${{ secrets.TARGET_SNOWFLAKE_FILE_FORMAT }}

    steps:
      - name: Install python3.7
        id: install-python
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get update
          sudo apt-get install python3.7

      - name: Checkout
        uses: actions/checkout@v2

      - name: "Upload"
        id: upload
        run: |
          make upload
