---
name: Deploy
on:
  push:
    branches:
      - 'master'

jobs:
  Deploy:
    name: "Uploads package to Pypi server"
    runs-on: ubuntu-18.04

    env:
      PYPISERVER_URL: ${{ secrets.PYPISERVER_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: "Upload"
        id: upload
        run: |
          make upload
